.Footer {
  /* autoprefixer: off */
  grid-column: 8/10;
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.Footer .FooterIcon:not(:last-child) {
  margin-right: 30px;
}

.FooterIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FooterIconInstagram svg {
  width: 55px;
  height: 55px;
}

.FooterIconBehance svg {
  width: 58px;
  height: 58px;
}

.FooterIconInstagram {
  width: 60px;
  height: 60px;
}

.FooterIconBehance {
  width: 66px;
  height: 66px;
}

@media screen and (max-width: 960px) {
  .Footer {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .Footer {
    margin-bottom: 60px;
    grid-column: 23/18;
    /* autoprefixer: ignore next */
    -webkit-box-pack: flex-end;
    /* autoprefixer: ignore next */
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 360px) {
  .Footer .FooterIcon:not(:last-child) {
    margin-right: 20px;
  }

  .FooterIconInstagram svg {
    width: 45px;
    height: 45px;
  }

  .FooterIconBehance svg {
    width: 48px;
    height: 48px;
  }

  .FooterIconInstagram {
    width: 50px;
    height: 50px;
  }

  .FooterIconBehance {
    width: 55px;
    height: 55px;
  }
}
