.scroll {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}
.App {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
@media screen and (max-width: 360px) {
  .scroll {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
}
@media (hover: none) {
  .App {
    position: inherit;
  }
}
